<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Image Uploading</title>
	<style>
		img {
		  width: 50%;
		}
	  </style>
</head>

<body>
	<h1>To Upload Image on mongoDB</h1>
	<hr />
	<div>
	<form action="/" method="POST" enctype="multipart/form-data">
		<div>
		<label for="name">Image Title</label>
		<input
			type="text"
			id="name"
			placeholder="Name"
			value=""
			name="name"
			required
		/>
		</div>
		<div>
		<label for="desc">Image Description</label>
		<textarea
			id="desc"
			name="desc"
			value=""
			rows="2"
			placeholder="Description"
			required
		>
		</textarea>
		</div>
		<div>
		<label for="image">Upload Image</label>
		<input type="file" id="image" name="image" value="" required />
		</div>
		<div>
		<button type="submit">Submit</button>
		</div>
	</form>
	</div>

	<hr />

	<h1>Uploaded Images</h1>
	<div>
	<% files.forEach(function(file) { %>
	<div>
		<div>
			<div class="card card-body mb-3">
			<img src="image/<%= file.filename %>" alt="">
			
		<div>
			<h5><%= file.filename %></h5>
			<form method="POST" action="/delete/<%= file._id %>?_method=DELETE">
				<button class="btn btn-danger btn-block mt-4">Delete</button>
			  </form>
			</div>
		
		</div>
		</div>
	</div>
	<% }) %>
	</div>
</body>
</html>
